extends e-book-layout

block extraHead
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css")
  link(rel="stylesheet",href="/stylesheets/writer.css")
  // ここにwriter.pug特有の追加のhead要素を記述

block sidebarContent
  a.custom-btn(href='/bookDisplay') 本一覧 

block mainWindowContent
  .col-md-8.main-content
    .card
      .card-body
        if book
          //編集モード
          form(method="POST", action=`/writer/edit/${book._id}`)
            .form-group.mb-4
              input.title-design(type="text", name="title", value=book.title, required=true, autofocus)
            .form-group.mb-3
              textarea#markdownEditor.form-control(name="content", placeholder="ここにマークダウンで文章を記入")
                = book.content
            button.custom-btn.float-right(type="submit") 更新
        else
          // 新規作成のためのタイトル入力フォーム
          form#newBookForm(method="POST", action="/writer")
            .form-group.mb-3
              input#title.title-design(type="text", name="title", placeholder="タイトルを入力", required=true, autofocus)
  .col-3.mode-content 
    .card
      .card-body
        button#showMemoBtn メモを表示
        button#showIndexBtn 目次を表示
        button#showDictionaryBtn 辞書を表示
        .mode-div#memoMode(style='display:none;')
          form#memoForm
            .form-group.mb-3
              input#memoTitle.title(type="text", name="title", placeholder="メモのタイトル", required=true, autofocus)
            .form-group.mb-3
              textarea#memoContent.content(name="content", placeholder="メモの内容", required=true)
            button#submitMemo.custom-btn.float-right(type="button") 送信
        .mode-div#indexMode(style='display:none;')
          // 目次モードのコンテンツ
          p 目次モードの内容
        .mode-div#dictionaryMode(style='display:none;')
          form.search-form(method="GET", action="/treeSearch")
            .search-input-group
              input.search-form-control(type="text", name="query", placeholder="Search memos...")
              .search-input-group-append
                button.btn-search(type="submit") ツリーサーチ
block extraScripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js")
  script(src="/javascripts/writer.js")
  script(src="/javascripts/changeMode.js")
  script(src="/javascripts/memoMode.js")
  // ここにwriter.pug特有の追加のスクリプトを記述
